@model ACS.MDB.Net.App.Models.UserModel

@{
    ViewBag.Title = "MDB:: Manage Users";
}

@section Scripts {
    <script src="/Scripts/jquery.dataTables.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.dataTable.editTable.js" type="text/javascript"></script>

    <script type="text/javascript" charset="javascript">
        // The billing tags data table
        var userTbl = null;
        var columnDefs = [
                { sWidth: '5%', aTargets: [0], bSortable: false, bVisible: false },
                { sWidth: '10%', aTargets: [1], bVisible: false },
                {
                    sWidth: '23%', aTargets: [2], "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        OpenEditDialog(userTbl, iRow, nTd, sData);
                    }
                },
                { sWidth: '15%', aTargets: [3] },
                { sWidth: '25%', aTargets: [4] },
                { sWidth: '10%', aTargets: [5] },
                { sWidth: '12%', aTargets: [6], bSortable: false }
        ];

        //setup the table and other features required for this page
        $(document).ready(function () {

            //Disable cache
            $.ajaxSetup({ cache: false });

            userTbl = $('#user_tbl').editTable({
                sListURL: '/Administration/UserList',
                fnServerData: UserListParameter,
                sDeleteURL: '',
                sAddURL: '/Administration/UserSave',
                sUpdateURL: '/Administration/UserSave',
                sNewDialogLoadURL: '/Administration/UserCreate',
                sEditDialogLoadURL: '/Administration/UserEdit',
                sDialogDivId: 'user_dialog',
                sToolbarSelector: '#div_toolbar',
                sAddButtonId: 'btn_newuser',
                sEditButtonId: 'btn_edituser',
                sDeleteButtonId: 'btn_deleteuser',
                iDialogWidth: 800,
                iDialogHeight: 400,
                iDialogOffset: 250,
                bAutoWidth: false,
                oColumnDefs: columnDefs,
                sEntityName: 'User'
            });

            //Set default focus on search text box and Disable invalid keys for search text box (Keys like <,>,~)
            SetFocus('#user_tbl_filter label input:text');
            DisableInvalidKeyForControl('#user_tbl_filter label input:text');
        });

        //Function to set checkbox column header selector to false
        //Call after we do sorting,paging,searching, save (create/edit) of record
        function UserListParameter(sSource, aoData, fnCallBack) {

            $.getJSON(sSource, aoData, function (json) {
            }).done(function (json) {
                fnCallBack(json);

            }).fail(function (json) {
                DisplayErrorMessage(json, false);
            });
        }

        //Set the menu item as selected
        HighlightSelectedMenuItem("AdminMenu")
    </script>
}

<div class="pageTitle">
    Manage Users
    <hr />
</div>

<table style="width: 100%">
    <tr>
        <td>
            <div id='div_toolbar' class="DatatableGridButtonStyle" style="margin-bottom: 10px; margin-top: 0px;"></div>
            <div id="user_dialog" title="Add User"></div>
            <div>
                <table cellpadding="0" cellspacing="0" border="0" class="display" id="user_tbl" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="selectall" />
                            </th>
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                            <th>@Html.DisplayNameFor(model => model.UserName) </th>
                            <th>@Html.DisplayNameFor(model => model.UserType) </th>
                            <th>@Html.DisplayNameFor(model => model.EmailId) </th>
                            <th>@Html.DisplayNameFor(model => model.IsActive) </th>
                            <th>@Html.DisplayNameFor(model => model.CanExecuteReport) </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
</table>
