@model ACS.MDB.Net.App.Models.UserModel

@{
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#txtEmailIdForForgotPassword').val("@ViewBag.Email");
        if ($('#txtEmailIdForForgotPassword').val() == "") {
            $('#txtEmailIdForForgotPassword').focus();
        }
    });

    //Disable enter key for control
    //Purpose : When pressing enter,this is hitting save and edit/create popup shows in new page.
    //Bug 1347 : For all pop up:: EDIT pop up:: while editing record, if we hit the "Enter" key then pop up gets maximized and then it doesnt allow to perform any action:: Reported by Jeevan
    function DisableEnterKeyForControl(control) {
        var code = null;
        $(control).keypress(function (e) {
            code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) e.preventDefault();
            //e.preventDefault();
        });
    }

    DisableEnterKeyForControl('#txtEmailIdForForgotPassword');
</script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<style type="text/css">
    div#spinner { display: none; width: 100%; height: 100%; position: fixed; text-align: center; border: 0px; vertical-align: central; left: 0; top: 0; z-index: 1000; background: rgba( 255, 255, 255, .8 ) url('/Images/Loading.gif') 50% 50% no-repeat; }
</style>

@using (Html.BeginForm(new { id = "frmForgotPassword", ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    <table id="errorSummary">
        <tr>
            <td>
                @Html.ValidationSummary(true)
            </td>
        </tr>
    </table>
    <div style="background: #F9F7FB">

        <table>
            <tr>
                <td style="text-align: left; width: 80px;">
                    @Html.LabelFor(m => m.EmailId, new { @class = "mandatoryLabel" })
                </td>
                <td style="text-align: left; width: 80px">
                    @Html.TextBoxFor(m => m.EmailId, new { @maxlength = "50", @class = "loginTextBox", @id = "txtEmailIdForForgotPassword" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: left; width: 250px" colspan="3">
                    @Html.ValidationMessageFor(m => m.EmailId)
                </td>
            </tr>
        </table>
    </div>
    <div id="spinner" style="display: none; width: 100%; height: 100%; position: fixed; text-align: center; border: 0px; vertical-align: central; left: 0; top: 0; z-index: 1000;  background: rgb(255,255,255) url('/Images/Loading.gif') 50% 50% no-repeat; -ms-filter:'alpha(opacity = 50)'; filter: alpha(opacity=50); opacity:0.6; }">
    </div>
}